<p style="font-size:50px;"><strong>
About me</strong></p>
<h1 style="color:red;">Name: Steve Yeom</h1>
<h2 style="color:Green;">Email: jjojjosteve@gmail.com</h2>
<Img src="https://addons-media.operacdn.com/media/CACHE/images/themes/05/144705/1.0-rev1/images/0993404e-79e0-4052-923d-89236e7c102f/ce42ef837a89c852c000eafd63cd0763.jpg">
<h4 style="color:blue;">
  I am currently attending Queensborough Community College and my current goal
is to learn basic various types of computer skills. In the future I would like to work as a web developer.
</h4>